<div class="navbar">
  <div class="navbar__logo">
    <h4>Grofers</h4>
  </div>
  <div class="navbar__serachbar">
    <input
        type="text"
        ng-model="serachData"
        class="navbar__serachbar_input"
        aria-describedby="basic-addon2"
      />
  </div>
  <div class="navbar__cartButton">
    <button
      ng-click="$ctrl.viewCart()"
      type="button"
      class="navbar__cartButton_button">
      Cart <span class="cartitemsno">{{$ctrl.orders}}</span>
    </button>
  </div>
</div>
<div class="cards">
  <div class="cards__productrow">
    <div class="cards__productrow_productcolumn" ng-repeat="product in $ctrl.productList | filter:serachData">
      <product-list product="product" serach-data="serachData" on-delete-order-in-cart="$ctrl.onDeleteOrderInCart"
        on-add-order-in-cart="$ctrl.onAddOrderInCart" on-update-order-in-cart="$ctrl.onUpdateOrderInCart">
      </product-list>
    </div>
  </div>
</div>
<user-cart ng-if="$ctrl.showCart" on-show-cart="$ctrl.onShowCart" cart-list="$ctrl.userCartList"
  on-delete-order-in-cart="$ctrl.onDeleteOrderInCart" on-update-order-in-cart="$ctrl.onUpdateOrderInCart"></user-cart>