<div class="viewcart">
  <div class="viewcart__cartcontent">
    <div class="viewcart__cartcontent_cartheding">
      My Cart<span>({{$ctrl.cartList.length}} iteams)</span>
      <span class="close" ng-click="$ctrl.close()">&times;</span>
    </div>
    <div class="subtotal">
      <div class="subtotal__title">Sub Total</div>
      <div class="subtotal__amount">{{$ctrl.totalPayAmount}}</div>
    </div>
    <div class="charger">
      <div class="charger__title">Delivery Charge</div>
      <div class="charger__amount">
        <span class="amount">Free</span>
      </div>
    </div>
    <hr />
    <div class="savings">
      <div class="savings__title">Your total Savings</div>
      <div class="savings__amount">
        <span class="saveamount">
          {{$ctrl.originalPriceTotal-$ctrl.totalPayAmount}}</span
        >
      </div>
    </div>
    <br /><br />
    <div class="cartList">
      <div class="cartList__product" ng-repeat="Product in $ctrl.cartList">
        <div class="cartList__product_img">img</div>
        <div class="cartList__product_productdetails">
          <span class="">20% off</span><br />
          <p>{{Product.name}}</p>
          <div class="product">
            <div class="product__decreasequantity">
              <button
                type="button"
                ng-click="$ctrl.decreaseQuantity(Product)"
                class="btn btn-outline-warning button"
              >
                -
              </button>
            </div>
            <div class="product__productquentity">
              {{Product.selectedQuantity}}
            </div>
            <div class="product__increasequantity">
              <button
                type="button"
                ng-click="$ctrl.increaseQuantity(Product)"
                class="btn btn-outline-warning button"
              >
                +
              </button>
            </div>
            <div class="product__amountcal">
              &times; <span>{{Product.sellingPrice}}</span>
              <span class="strike">{{Product.originalPrice}}</span>
            </div>
          </div>
        </div>
        <div class="cartList__productTotal">
          {{Product.sellingPrice*Product.selectedQuantity}}
        </div>
      </div>
      <div>
        <button type="button" class="paybutton">
          <div class="paybutton__title">Proceed to Checkout</div>
          <div class="paybutton__totalpay">{{$ctrl.totalPayAmount}} ></div>
        </button>
      </div>
    </div>
  </div>
</div>
